#map {
	width: 100%;
	height: 400px;
	}
        
#mapnavcont {
    position: relative;
    width: 100%;
    height: 70px;
    background-color: rgba(150, 204, 0, 0.6);
    margin-top: -70px;
    z-index: 9999999;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: right;
}

a {
    display: block;
    padding: 8px;   
}

button {
    background-color: transparent;
    border: none;
    padding-right: 10px;
}

button img {
    height: 35px;
    width: auto;
    padding: 10px;
}

button p {
    float: right;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    margin-top: 27px;
}

@import url(https://fonts.googleapis.com/css?family=Abel);
