            html, body {
                height: 100%;
            }

            body {
                margin: 0;
                padding: 0;
                
                
                font-weight: 100;
                font-family: 'Lato';
            }

			.menulinkstyle {
				padding-top: 4px;
				}
				
			#header {				
				height: 90px;
				width: 100%;
				display: block;
				margin-left: auto;
  				margin-right: auto;
				background-color: #0761a3;
				}
			
			nav {
				margin-right: 140px;
				padding-top: 64px;
				}
			
			nav ul li {
				height: 30px;
				width: 100px;	
				margin-right: 10px;
				
				z-index: 2;
				text-align: center;
				display: inline-block;
				}
			
			ul {
				list-style-type: none;
				
				} 
			
			li a {
    			display: block;
				}
			
			.background-yellow {
				background-color: #e2dd1a;	
				}
				
			
			.background-blue {
				background-color: #1f2d60;
				}
			
			.background-green {
				background-color: #99cc02;
				}
						
            .container {
                width: 80%;				
				margin-left: auto;
  				margin-right: auto;               
				display: block;
            	}
			
			#search {
				float: right;
				margin-top: -50px;
				}
			
			#uppertext {
				
				font-size: 1.8em;
				width:43%;
				padding-top:15.5px;
				float:left;
				
				}
				
			#lowertext {
				font-size: 2.45em;
				margin-top: -39px;
				width:100%;
				float:left;
				margin-bottom:10px;
							
				}
				
				h2 {
				width:57%;
				float:right;
				font-size:2.5em;
			 	text-align:right;
			
				}
			
			.form {
				margin-left: 20px;	
				}
			
			.notifications {
				
				}
			
			.notification-1 {
				width: 30%;
				margin-left: 20px;
				float: left;
				
				}
			#submit{
				
				background-color:#e2dd1a;
				border:none;
				color:white;
				width:100%;
				height:40px;
				margin-top:16px;
				font-size:1.8em;
				
				}
				
			.notification-2 {
				width: 50%;
				float: left;
				
				}	
			
			.logo {
				height: 80px;
				width: 80px;
				float: left;
				margin-left: 120px;
				padding-top: 10px;				
				text-align:center;
				color: #FFFFFF;		
				}
			
			.menulinkstyle {
				text-decoration: none;	
				}
				

			.map {
				width: 100%;
				height: 300px;
				background-color: #1383aF;
				color: #FFFFFF;
				float:left;
				display: block;
				}

				
				#googleMap{					
					width:100%;
					height:300px;
					float:left;
					
					}
				#content{
					float:left;
					width:100%;
					margin-top:6px;
					}
			.video {
				width: 59%;
				height: 300px;
				margin-bottom: 10px;
				float:left;
				color: #FFFFFF;
				}	
				
			.signup {
				width: 40%;
				height: 200px;
				float:right;
				color: black;
				}
			
			 
			
			.news {
				width: 100%;
				margin-top: 0px; 
				height: 200px;
				border: 1px solid #0E7E17;
				float:left;
				
				color: #FFFFFF;
				}	

			footer {
				width: 100%;
				float: left;
				}
				
            .content {
                text-align: center;
                display: inline-block;
				
            }

            .title {
                font-size: 96px;
            }
			
			nav {
				display:inline-block;
				float:right;
				margin-top: -20px;
				}
