* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.bg-blue {
    background: lightblue;
}

.navbar-default {
    background: #5bc0de;
    height: 130px;
    padding-top: 40px;
}
.navbar-default .navbar-brand {
    font-size: 30px;
    color: black;
}

.overlay {
    background:transparent;
    position:relative;
    width:100%;
    height:480px;
    top:480px;
    margin-top:-480px;
}


.welcome {
    margin-top: 50px;
    margin-bottom: 50px;
}
.container-fluid-full {
    width: 100%;
}
.maps-button {
    position: absolute;
    margin-left: 10%;
    margin-top: -60px;
    margin-bottom: 30px;
}
.btn-map {
    min-width: 240px;
    padding: 8px;
    margin-right: 15px;
    margin-top: 10px;
}

.search {
    margin-top: 20px;
}

.newsletter {
    background: #eee;
    padding-top: 150px;
    padding-bottom: 150px;
}

footer {
    background: #ddd;
    padding-top: 30px;
    padding-bottom: 30px;
}